form {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: auto;
	padding: 20px;
	border: 1px solid #ccc;
	background: #f2f2f2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
form input[type="text"],
form input[type="password"] {
	width: 80%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
form input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #eee;
	cursor: pointer;
}
form input[type="submit"]:hover {
	background: #ccc;
}

body {
	background: #eee;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

#title {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	margin: 50px 0;
}

#showpass {
	margin-top: 5px;
	margin-bottom: 25px;
}

/* make .login-page fade in when the page loads */
.login-page,
#title {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* make each element in .login-page slide from the top */
.login-page form > * {
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 1s;
	animation-name: slideIn;
	animation-duration: 1s;
}

@-webkit-keyframes slideIn {
	from {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slideIn {
	from {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
